* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    
    position: relative;

    width: 100vw;
    height: 100vh;
}

/* stilizzazione base macro aree */
.container {
    width: calc(100% - 200px);
    height: calc(100% - 180px);

    position: absolute;
    left: 200px;
    top: 80px;

    overflow-y: auto;

    background-color: #141922;
}

.bottom-bar {
    width: 100vw;
    height: 100px;

    position: absolute;
    bottom: 0px;

    background-color: #282828;
}

.side-bar {
    height: calc(100% - 100px);
    width: 200px;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0px;
    left: 0px;

    padding-left: 20px;
    padding-top: 20px;

    background-color: #000000;
    color: #797979;
}

.top-bar {
    width: calc(100% - 200px);
    height: 80px;

    position: absolute;
    top: 0px;
    right: 0px;


    background-color: #080b12;
}
/* /stilizzazione base macro aree */

/* stilizzazione nav sinistra */

.logo {
    width: 80%;
}

.row {
    display: flex;
    padding-bottom: 10px;
}

.row img {
    width: 15%;
}
/* /stilizzazione nav sinistra */

/* stilizzazione nav bottom */

.bottom-bar {
    display: flex;
    justify-content: space-between;
}

/* /stilizzazione nav bottom */

/* stilizzazione container */

