* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;

    width: 100%;
    height: calc(100% - 90px);
}

#side-bar {
    display: flex;
    flex-direction: column;

    width: 230px;
    height: 100%;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;

    background-color: #000000;
}

#main-container {
    width: calc(100% - 230px);
    height: 100%;
}

#main-container .top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 90px;

    padding-right: 10px;

    background-color: #080b12;
}

#main-container .inner {
    width: 100%;
    height: 100%;

    padding-right: 20px;
    padding-left: 20px;

    overflow-y: auto;

    background-color: #141922;
}
/* struttura centrale no stile */

/* SIDE BAR */

.logo {
    width: 80%;
    padding-bottom: 30px;
}
.row {
    display: flex;
    align-items: center;
    gap: 10px;
    color: grey;
    padding-bottom: 10px;
}

.row-icon {
    width: 15%;
}

#side-bar h4 {
    color: white;

    padding-top: 30px;
    padding-bottom: 20px;
}

#side-bar hr {
    color: grey;
    margin-bottom: 10px;
}

.playlist {
    color: gray;
    padding-top: 20px;
}

/* CONTENITORE CENTRALE */

.links {
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 40px;

    font-size: .8em;
    font-weight: bold;
    color: #7f8286;

}

.links ul {
    display: flex;
    justify-content: center;

    gap: 30px;

    list-style-type: none;
}

.container-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.square {
    width: calc(100% / 6);
}

.square-img img {
    max-width: 100%;
}
/* / CONTENITORE CENTRALE */

/* FOOTER */
footer {
    max-width: 100%;
    height: 90px;
    
    color: white;
    background-color: #282828;
}

.footer-container {
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}

.footer-img-container {
    width: 50px;
    height: 50px;
}

.footer-img {
    max-width: 100%;
}

.bottom-bar-text .white-text {
    font-size: .8em;
    font-weight: bold;
}

.bottom-bar-text .grey-text {
    font-size: .6em;
    font-weight: bold;
    color: #7f8286;
}

.controls-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-center-top {
    display: flex;
    align-items: center;
    gap: 30px;
    
    padding-bottom: 20px;
}

.controls-center-bottom {
    display: flex;
    align-items: center;
    gap: 50px;
    
    font-size: .6em;
}

.controls-center-bottom .play-bar-outer {
    height: 3px;
    width: 400px;
    
    border-radius: 2px;
    
    background-color: #5a5a5a;
}

.controls-center-bottom .play-bar-inner {
    height: 3px;
    width: 20%;
    
    border-radius: 2px;
    
    background-color: #fdfdfd;
}

.controls-left {
    display: flex;
    align-items: center;
    gap: 20px;
    
    padding-right: 10px;
}

.volume-bar-outer {
    height: 3px;
    width: 100px;
    
    border-radius: 2px;
    
    background-color: #5a5a5a;
}

.volume-bar-inner {
    height: 3px;
    width: 20%;
    
    border-radius: 2px;
    
    background-color: #fdfdfd;
}

/* button top bar */
button {
    padding: 10px 20px;
    
    color: white;
    font-weight: bold;

    border: 1px solid white;
    border-radius: 18px;

    background-color: #080b12;
}